<template>
  <div class="ui dropdown item" v-ui-dropdown>
    <img class="ui avatar mini image" src="../assets/avatar.png" alt="avt"> <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Option 1</a>
      <a class="item">Option 2</a>
      <a class="item">Option 3</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Avatar'
}
</script>

<style scoped>

</style>
