<template>
  <div class="ui sixteen column grid">
    <div class="row">
      <div class="left aligned two wide column">
        <div class="ui vertical pointing menu" style="margin-left: 1rem">
          <a class="active teal item">
            Inbox
            <div class="ui teal left pointing label">1</div>
          </a>
          <a class="item">
            Spam
            <div class="ui label">51</div>
          </a>
          <a class="item">
            Updates
            <div class="ui label">1</div>
          </a>
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search mail...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="fourteen wide column">
        <Table></Table>
      </div>
    </div>
  </div>
</template>

<script>
import Table from './Table'

export default {
  name: 'Board',
  components: { Table }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
