<template>
  <div class="ui huge black inverted secondary menu">
    <div class="item">
      <a href="https://www.cherrychain.it">
        <img class="ui middle aligned image" src="../assets/cherrychain-light.png" style="max-height: 32px; max-width: 164px; margin-right: 1rem" alt="logo">
      </a>
    </div>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item" v-ui-dropdown>
        Language <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">English</a>
          <a class="item">Russian</a>
          <a class="item">Spanish</a>
        </div>
      </div>
      <Avatar></Avatar>
    </div>
  </div>
</template>

<script>
import Avatar from './Avatar'

export default {
  name: 'Navigation',
  components: { Avatar }
}
</script>

<style scoped>

</style>
