<template>
  <div id="app">
    <Navigation></Navigation>
    <Board></Board>
  </div>
</template>

<script>
import Board from './components/Board'
import Navigation from './components/Navigation'

export default {
  name: 'App',
  components: {
    Navigation,
    Board
  }
}
</script>

<style>
#app {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
