<template>
  <ul class="uk-navbar-nav">
    <li>
      <a>
        <img src="../assets/avatar.png" style="max-height: 32px" alt="avatar">
      </a>
      <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li class="uk-active"><a href="#">Active</a></li>
          <li><a href="#">Item</a></li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Avatar'
}
</script>

<style scoped>

</style>
