<template>
  <div class="uk-grid-match" uk-grid>
    <div class="uk-width-1-6@m">
      <div class="uk-card uk-card-default uk-card-body uk-text-left">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active"><a href="#">Active</a></li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-width-expand@m">
      <div class="uk-card uk-card-default uk-card-body">
        <Table></Table>
      </div>
    </div>
  </div>
</template>

<script>
import Table from './Table'
import 'uikit/dist/js/uikit.min'
import 'uikit/dist/js/uikit-icons.min'

export default {
  name: 'Board',
  components: { Table }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
