<template>
  <nav class="uk-navbar-container uk-light" style="background: linear-gradient(to left, #2c3e50, #34495e)" uk-navbar>
    <div class="uk-navbar-left">

      <a class="uk-navbar-item uk-logo" href="https://www.cherrychain.it">
        <img src="../assets/cherrychain-light.png" alt="t-shirt" style="margin-right: 1rem; max-height: 32px; max-width: 164px">
      </a>

      <ul class="uk-navbar-nav">
        <li>
          <a href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
            Features
          </a>
        </li>
      </ul>

      <div class="uk-navbar-item">
        <div>Some <a href="#">Link</a></div>
      </div>

      <div class="uk-navbar-item">
        <form action="javascript:void(0)">
          <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
          <button class="uk-button uk-button-default">Button</button>
        </form>
      </div>

    </div>

    <div class="uk-navbar-right">
      <Avatar></Avatar>
    </div>
  </nav>
</template>

<script>
import Avatar from './Avatar'
export default {
  name: 'Navigation',
  components: { Avatar }
}
</script>

<style scoped>

</style>
