<template>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
      <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-shrink">Preserve</th>
        <th class="uk-table-expand">Expand + Link</th>
        <th class="uk-width-small">Truncate</th>
        <th class="uk-table-shrink uk-text-nowrap">Shrink + Nowrap</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input class="uk-checkbox" type="checkbox"></td>
        <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
        <td class="uk-table-link">
          <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
        </td>
        <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
      </tr>
      <tr>
        <td><input class="uk-checkbox" type="checkbox"></td>
        <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
        <td class="uk-table-link">
          <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
        </td>
        <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
      </tr>
      <tr>
        <td><input class="uk-checkbox" type="checkbox"></td>
        <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
        <td class="uk-table-link">
          <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
        </td>
        <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
      </tr>
      <tr>
        <td><input class="uk-checkbox" type="checkbox"></td>
        <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
        <td class="uk-table-link">
          <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
        </td>
        <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Table'
}
</script>

<style scoped>

</style>
